<div class="row text-center">
  <div class="col-md-8 col-md-offset-2">
    <h1>Resend confirmation instructions</h1>
    <p>Please enter the email address you have used during the signup</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, class: "form-control input-lg", placeholder: "Email", :autofocus => true %>
        </div>
      </div>
      <div class="form-group"><%= f.submit "Resend confirmation instructions", class: "btn-lg btn-primary btn-block" %></div>
    <% end %>
  </div>
</div>